<h2>Leaderboard</h2>
<table mat-table [dataSource]="leaderboard" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="steps">
    <th mat-header-cell *matHeaderCellDef>Steps</th>
    <td mat-cell *matCellDef="let element">{{element.steps}}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-form-field>
  <mat-label>Enter Steps</mat-label>
  <input matInput [(ngModel)]="stepsInput" placeholder="Enter your steps">
</mat-form-field>
<mat-form-field>
  <mat-label>Date</mat-label>
  <input matInput [(ngModel)]="dateInput" type="date">
</mat-form-field>
<button mat-raised-button color="primary" (click)="submitSteps()">Submit Steps</button>
